{% extends 'base.html' %}


{% block contenido %}
    <h2>Todas mis publicaciones</h2>


{% for post in posteos %}
    
    <div class="card" style="width: auto;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="card-title">{{ post.titulo }}</h1>
            <h5 class="card-title">{{ post.subtitulo }}</h5>
            <p class="card-text">{{ post.post }}</p>
          
            <a href="{% url 'publicaciones:editar-posteo' post.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'publicaciones:eliminar-posteo' post.id %}" class="btn btn-danger">Eliminar</a>
            <h6 class="card-text"> {{ post.fecha }} <h5>Categoria:</h5>{{ post.categoria }}</h6>
            
        </div>
    </div>
    
{% endfor %}


{% if user.is_authenticated %}
    <a href="{% url 'publicaciones:postear' %}" class="btn btn-primary">Postear algo nuevo</a>
{% else %}
    <a href="{% url 'usuarios:login' %}" class="btn btn-primary">Logueate Para postear</a>
{% endif %}
    

    
{% endblock contenido %}
    